* {
  box-sizing: border-box;
}
.detbook {
  width: 100%;

  display: flex;
}

.docbook {
  width: 80%;
  background-color: rgb(196, 231, 245);
}
.profmain {
  display: flex;
  background-color: (142, 211, 226);
}

.myslotcard {
  height: 230px;
  width: 300px;
  padding: 20px;
  border: 1px, solid, rgba(9, 118, 227, 0.564);
  box-shadow: 0px 0px 5px 1px rgba(9, 118, 227, 0.564);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.myslotbtn {
  display: flex;
  justify-content: end;
}
.btncolor {
  background-color: rgba(70, 147, 224, 0.564);
}

.myslot {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.myslots {
  display: flex;
  gap: 30px;
}

.myslotdiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 50px;
  background-color: rgb(196, 231, 245);
  min-height: 700px;
}
.src {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: large;
}
.search {
  display: flex;
  gap: 20px;
}
.srcbtn {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: e;
}
@media (max-width: 768px) {
  .myslotcard {
    width: 90%;
  }

  .myslotdiv {
    padding: 10px;
  }

  .srcbtn {
    width: 30%;
  }
}

@media (max-width: 480px) {
  .myslotcard {
    width: 100%;
  }

  .srcbtn {
    width: 50%;
  }
}
