.main {
  background-image: url('../../../public/bg 2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.user-login-form {
  width: 430px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 0px 5px 1px rgb(232, 228, 228);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 200px;
  left: 900px;
}

.btn {
  width: 150px;

  background-color: rgb(49, 22, 222);
  color: white;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.p1 {
  color: red;
  cursor: pointer;
}
.signup {
  color: rgb(70, 11, 221);
  cursor: pointer;
}
